<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.daystarter">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_todo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_todo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DayStarter"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.groupSchedule.groupChat.GroupChatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.groupSchedule.ScheduleSearchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.groupSchedule.ApplicantsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.EditUserInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.groupSchedule.MemberListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.groupSchedule.GroupSettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.groupSchedule.GroupSchedulePostActivity"
            android:exported="false" />
        <activity
            android:name=".ui.groupSchedule.WritingGroupScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.groupSchedule.GroupActivity"
            android:exported="false" />
        <activity
            android:name=".ui.groupSchedule.ParticipationActivity"
            android:exported="false"
            android:theme="@style/Theme.DayStarter.NoActionBar" />
        <activity
            android:name=".ui.groupSchedule.MakeGroupActivity"
            android:exported="false"
            android:theme="@style/Theme.DayStarter.NoActionBar" />
        <activity
            android:name=".ui.todo.WritablePersonalScheduleActivity"
            android:exported="false"
            android:theme="@style/Theme.DayStarter.NoActionBar" />
        <activity
            android:name=".IntroActivity"
            android:exported="true"
            android:theme="@style/Theme.DayStarter.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.news.ItemActivty" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.DayStarter.NoActionBar" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:theme="@style/Theme.DayStarter.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DayStarter.NoActionBar" />
        <activity
            android:name=".ui.alarm.activities.RingActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity="" />
        <activity android:name=".ui.setting.setting" />

        <receiver android:name=".ui.alarm.broadcastreceiver.AlarmBroadcastReceiver" />

        <service
            android:name=".ui.alarm.service.AlarmService"
            android:enabled="true"
            android:exported="true" />
        <service android:name=".ui.alarm.service.RescheduleAlarmsService" />
        <service
            android:name=".ui.groupSchedule.service.GroupScheduleService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_outline_group_24" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>

</manifest>